.TwoSideSlider > h1 {
   font-family: Poppins;
   font-size: 18px;
   font-weight: 500;
   line-height: 27px;
   letter-spacing: 0em;
   text-align: left;
   color: #0baca9;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
}
.TwoSideSlider > h1 img {
   margin-left: 5px;
}
.topslider_area {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.topslider_area small {
   font-family: Poppins;
   font-size: 13px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0em;
   text-align: right;
   color: #79828d;
}
@media screen and (max-width: 450px) {
   .TwoSideSlider > h1 {
      font-size: 15px;
   }
}
